<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Proper change for $pennies cents:</h2>
  </div>
  <div class="panel-body">
    $outputString
  </div>
</div>
