<form action="changeResult" class="form-inline">
  <div class="form-group">
    <label for="changeInput">Input the number of cents in change:</label>
    <input type="number" class="form-control" name="changeInput" id="changeInput">
  </div>
  <button type="submit" class="btn btn-success" id="submit">Submit</button>
</form>
